.scontainer {
    height: 80vh;
    background-color: #fff;
}
.box{
    display: flex;
    justify-content: center;
}
.baby1 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    height: 350px;
    border-radius: 15px;
    box-shadow: rgba(106, 106, 114, 0.2) 0px 7px 29px 0px;
    width: 350px;
    background-color:  #c3e7c4;
    text-align: center;
    margin: 15px 25px;
    margin-top: 100px;
    overflow: hidden;

    transition: transform 300ms ease-in-out;
}
.baby2 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    height: 350px;
    border-radius: 15px;
    box-shadow: rgba(106, 106, 114, 0.2) 0px 7px 29px 0px;
    width: 350px;
    background-color:  #c3e7c4;
    text-align: center;
    margin: 15px 25px;
    margin-top: 100px;
    overflow: hidden;

    transition: transform 300ms ease-in-out;
}
.baby3 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    height: 350px;
    border-radius: 15px;
    box-shadow: rgba(106, 106, 114, 0.2) 0px 7px 29px 0px;
    width: 350px;
    background-color:  #c3e7c4;
    text-align: center;
    margin: 15px 25px;
    margin-top: 100px;
    overflow: hidden;

    transition: transform 300ms ease-in-out;
}

.Services {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.baby1:hover{
    transform: scale(1.1);
}
.baby2:hover{
    transform: scale(1.1);
}
.baby3:hover{
    transform: scale(1.1);
}