@import url('./vars.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --navbar-height: 65px    
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.__header {
    height: var(--navbar-height);
    background-color: var(--dark);
    display: flex;
    padding: 0px 40px;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}

.__header nav ul{
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
}

.__header a{
    color: var(--white);
}

.__header .logo {
    font-weight: 600;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

/* hero section css */

.hero {
    display: flex;
    height: 100vh;
    background-image: url("../assets/hero-bg.svg");
    background-size: cover;
    padding: 50px;
    background-repeat: no-repeat;
}

.hero-info {
    width: 50%;
    padding-top: 180px;
    margin-left: 20px;
    height: 100%;
}

.hero-info h1 {
    font-size: 68px;
    font-family: 'Nunito';
    margin-bottom: 10px;
    color: var(--dark);
}

.hero-info p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: rgb(50, 50, 50);
    max-width: 80%;
}

.hero-info button {
    cursor: pointer;
    height: 42px;
    padding: 10px 25px;
    border: none;
    background-color: var(--dark);
    color: var(--white);
    font-size: 16px;
    border-radius: 4px;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.hero-info button span {
    padding-left: 10px;
}

/* pseudo selectors */
.hero-info button:hover {
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
    background: var(--white);
    color: var(--dark);
}

.hero-img {
    width: 50%;
}

/* The animation code */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* The element to apply the animation to */
.animation-div {
    width: 100px;
    height: 100px;
    background-color: red;

    /* animation properties */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* about us styles */
.about {
    height: 80vh;
    padding: 50px 150px;
}

.about header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about header h2 {
    font-size: 48px;
    font-weight: 600px;
    font-family: 'Nunito';
    color: var(--dark);
    margin-bottom: 20px;
}

.about .about_container {
    width: 100%;
    display: flex;
    height: 100%;
}

.about .about_img {
    width: 50%;
    background-image: url('https://media.vogue.es/photos/5e6e66f8338ac4000839055b/2:3/w_2560%2Cc_limit/Ana-de-Armas-1.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.about .about_text {
    width: 50%;
    padding-top: 120px;
}

.about .about_text .about_card {
    width: 80%;
    min-height: 380px;
    border-radius: 8px;
    transform: translateX(-30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about_card h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about_card p{
    font-size: 18px;
    line-height: 25px;
}

/* glass morphism */

.flex-container {
    background-color: var(--muted);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-shrink: var(--navbar-height);
    flex-wrap: wrap;
    height: 700px;
}

.flex-item {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 150px;
    width: 150px;
}

.flex-item:nth-of-type(1){
    background: rgb(194, 15, 15);
}

.flex-item:nth-of-type(2){
    background: rgb(0, 255, 34);
}

.flex-item:nth-of-type(3){
    background: rgb(21, 0, 255);
}

.flex-item-child {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: var(--dark);
}

.sachin {
    height: 700px;
    background: var(--dark) !important;
}